[submodule "veutil"]
	path = src/veutil
	url = https://github.com/nmbath/veutil.git
	branch = mbath/containers
[submodule "src/qzxing"]
	path = src/qzxing
	url = https://github.com/victronenergy/qzxing
